header{
    position:sticky;
    top: -31px;
    z-index: 3;
}
header .header-top-container{
    height: 30px;
    background-color: black;
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}
header .header-top-left{
    display: flex;
    align-items: center;
}
header .header-top-left img{
    height: 20px;
    margin-right: 8px;
}
header .header-top-left a{
    font-size: 0.8em;
    color: rgb(227, 225, 225);
}
header .header-top-center a{
    color: rgb(227, 225, 225);
    text-decoration: underline;
}
header .header-top-right a{
    color: rgb(227, 225, 225);
}
header .header-bottom-container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 10px;
    background-color: rgb(227, 225, 225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header .header-bottom-left{
    display: flex;
    align-items: center;
    z-index: 2;
}
header .header-bottom-left img{
    height: 65px;
    margin-right: 0px;
}
header .header-bottom-left-first{
    display: none ;
}
header .header-bottom-left-first img{
    height: 15px;
}
header .header-bottom-left-first a{
    cursor: pointer;
}
header .header-bottom-center a{
    font-weight: bold;
    margin: 0 10px;
    z-index: 2;
}
header .header-bottom-center a:hover{
    font-size: 1.2em;
    transition: 0.3s;
    text-decoration: underline;
    padding: 0 20px;
}
header .header-bottom-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;
}
header .header-bottom-right input{
    padding: 8px 20px;
    border: 0.5px solid #cccccce7;
    box-shadow: 0px 0px 1px;
    border-radius: 15px;
    width: 160px;
    background-color:  rgb(246, 243, 243);
    background-image: url(image/search-icon.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    opacity: 0.7;
}
header .header-bottom-right input:focus{
    background-color:white;
}
header .header-bottom-right  .icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .header-bottom-right img{
    height: 20px;
    margin: 0 5px;
}
header .header-bottom-right #heart-image{
    margin: 0 5px 0 10px;
}
header .header-bottom-right #search img{
    height: 17px;
}
header .header-bottom-right #search{
    cursor: pointer;
    display: none;
}
/* Configure dropdown content in .header-bottom-center */
header .header-bottom-center .dropdown-contain {
    display: flex;
    justify-content:space-evenly;
    padding: 40px 25% 0px 10%;
    background-color: rgb(227, 225, 225);
    min-width: 100%;
    height: 350px;
    position: absolute;
    left: 0px;

    box-shadow: 0px 8px 16px 0px 5px rgba(0,0,0,0.2);
    z-index: 0;
    display: none;
}
header .header-bottom-center .dropdown:hover .dropdown-contain {
    display: flex;
}
header #new-dropdown-contain{
    border-left: 1px solid gray;
    height: fit-content;
}
header #new-dropdown-contain a{
    display: block;
    margin: 10px 30px 20px 30px;
    font-weight: 500;
}
header #new-dropdown-contain a:hover{
    opacity: 0.9;
    text-decoration: underline;
    transition: 0.2s;
    padding: 10px 0;
    font-size: 1.1em;
}
header #new-dropdown-contain a:active{
    opacity: 0.5;
}
/* Config sidebar navigations for small screen size 
in .header-bottom-left-first */
header .side-bar{
    display: none;
    position: absolute; 
    top: 60px;
    left: 0;
    padding: 20px 20px 100px 20px;
    width: 40%;
    min-width: 200px;
    height: 100vh;
    background-color:rgb(227, 225, 225) ;
    overflow: auto;
    opacity: 0.95;
}
header .side-bar-container ul{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-weight: bold;
}
header .side-bar-container ul li{
    padding: 10px 0;
}
header .header-bottom-left-first:hover .side-bar{
    display: block;
}
header .header-bottom-left-first .dropdown-contain{
    display: none;
}
header .header-bottom-left-first .dropdown:hover .dropdown-contain{
    display: block;
}
/* configure side search nav for small screen */
header .side-search .dropdown{
    display: none;
    position: absolute; 
    top: 60px;
    right: 0;
    width: 40%;
    min-width: 200px;
    height: 100vh;
    background-color:rgb(227, 225, 225) ;
    overflow: auto;
    opacity: 0.95;
}
header .side-search .dropdown input{
    display: block;
    margin: 40px auto;
    width: 80%;
}
header .side-search:hover .dropdown{
    display: block;
}
@media  (max-width: 900px){
    header .header-top-container{
        height: 30px;
        padding: 0 10px;
        font-size: 0.7em;
    }
    header .header-top-center{
        display: none;
    }
    header .header-top-left img{
        height: 10px;
        margin-right: 4px;
    }
    header .header-bottom-container{
        height: 50px;
        padding: 0 10px;
    }
    header .header-bottom-left img{
        height: 40px;
        margin-right: 4px;
    }
    header .header-bottom-left-first {
        display: block;
    }
    header .header-bottom-center{
        display: none;
    }
    header .header-bottom-right input{
        padding: 4px 10px;
        width: 100px;
        background-size: 15px;
        font-size: 0.8em;
    }
    header .header-bottom-right a{
        font-size: 0.8em;
    }
    header .header-bottom-right img{
        height: 15px;
    }
    header .header-bottom-right #heart-image{
        margin: 0 5px;
    }
} 
@media (max-width: 500px) {
    header .header-bottom-center{
        display: none;
    }
    header .header-bottom-right input{
        display: none;
    }
    header .header-bottom-right #search{
        display: inline-block;;
    }
    header .side-search .dropdown{
        top: 0;
        right: 0;
        width: 100%;
        opacity: 0.98;
        z-index: 4;
    }
    header .side-search .dropdown input{
        width: 80%;
        padding: 15px 20px;
        margin: 40px auto;
    }
    header .side-bar{
        top: 0;
        left: 0;
        padding: 20px 20px 100px 10;
        width: 100%;
        opacity: 0.95;
        z-index: 4;
    }
}
@media (max-width: 350px) {
    header .header-bottom-left img{
        height: 35px;
    }
    header .header-top-right{
        font-size: 0.7em;
    }
    header .header-bottom-left h2{
        font-size: 0.9em;
    } 
}
